* {
	padding: 0;
	margin: 0;
}

body {
	font-family:  "Open Sans", sans-serif, "Arial", serif;
	background: #ffffff;
	color: #000000;
	height: 100%;
}

.navbar {
	border-bottom: 3px solid rgba(000, 000, 000, .3);
}

.center {
	text-align: center;
	padding-bottom: 15px;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}
